@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Muli", sans-serif;

  background-color: #f6f7fb;
  height: 100vh;
  margin: 0;

  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  position: relative;

  display: flex;
  justify-content: space-between;

  max-width: 100%;
  width: 350px;
  margin-bottom: 30px;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;

  height: 4px;
  width: 100%;

  transform: translateY(-50%);

  z-index: -1;
}

.progress {
  background-color: #3498db;

  position: absolute;
  top: 50%;
  left: 0;

  height: 4px;
  width: 0%;

  transform: translateY(-50%);
  transition: 0.4s ease;
  z-index: -1;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  color: #999;

  border-radius: 50%;
  border: 3px solid #e0e0e0;

  height: 30px;
  width: 30px;

  transition: 0.4s ease;
}

.circle.active {
  border-color: #3498db;
}

.btn {
  font-family: inherit;

  background-color: #3498db;
  color: #fff;

  border: 0;
  border-radius: 6px;

  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;

  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
