body {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  height: 100vh;

  overflow: hidden;
  background-color: rgb(61, 60, 63);

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

.container {
  display: flex;

  width: 100%;
  padding: 0 20px;
}

.slide {
  position: relative;
  flex: 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 80vh;
  margin: 10px;

  color: #fff;
  border-radius: 10px;

  cursor: pointer;

  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  left: 10px;
  bottom: 10px;

  margin: 0;
  font-size: 15px;

  opacity: 0;
}

.slide.active {
  flex: 7;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.image-1 {
  background-image: url("https://images.unsplash.com/photo-1608245449230-4ac19066d2d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.image-2 {
  background-image: url("https://images.unsplash.com/photo-1509027572446-af8401acfdc3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
}

.image-3 {
  background-image: url("https://images.unsplash.com/photo-1595795279832-13f0df36fbb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
}

.image-4 {
  background-image: url("https://images.unsplash.com/photo-1590227632180-80a3bf110871?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=315&q=80");
}

.image-5 {
  background-image: url("https://images.unsplash.com/photo-1562519819-016930ada31b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}
