* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111;

  height: 100vh;
  margin: 0;

  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 400px;
}

.square {
  width: 15px;
  height: 15px;

  background: #1d1d1d;

  margin: 2px;

  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
